*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(0, 64, 148);
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: xx-large;
}

header{
  margin-top: 50px;
}

main h3{
  margin-top: 50px;
}

.table{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  margin-top: 50px;
}

.table div{
  list-style: none;
  border: 2px solid white;
  background-color: rgb(0, 110, 255);
  width: 15%;
  margin: 5px;
}

.table div:hover{
  background-color: rgb(95, 164, 255);
}

footer{
  margin-top: 200px;
  font-size: medium;
}

footer a{
  color: white;
}

.tableGame{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  margin-top: 50px;
}

.tableH3{
  margin-top: 80px;
}

.tableGameDiv{
  border: 2px solid white;
  background-color: rgb(0, 110, 255);
  width: 20%;
  height: 40px;
  margin: 5px;
}

.tableGameHover{
  border: 2px solid white;
  background-color: rgb(95, 164, 255);
  width: 20%;
  height: 40px;
  margin: 5px;
}